html {
  height: 100%;
}

body {
  cursor:none !important;
  overflow: hidden;
  min-height: 100%;
}

.slide {
  position: fixed;
  top: 0;
  left: 0;
}

.slide.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

.slide.ng-enter.ng-enter-active {
  opacity: 1;
}

.slide.ng-leave {
  transition: 1s linear all;
  opacity: 1;
}

.slide.ng-leave.ng-leave-active {
  opacity: 0;
}
