{% load active %}

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="{% active "signage:display_list" %}"><a href="{% url "signage:display_list" %}"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Displays</a></li>
        <li class="{% active "signage:slide_list" %}"><a href="{% url "signage:slide_list" %}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Slides</a></li>
        <li class="{% active "signage:video_list" %}"><a href="{% url "signage:video_list" %}"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Videos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "signage:display_create" %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Display</a></li>
        <li><a href="{% url "signage:slide_create" %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Slide</a></li>
        <li><a href="{% url "signage:video_create" %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Video</a></li>
      </ul>
    </div>
  </nav>
</header>
