{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">
  {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% endblock css %}
</head>
<body ng-app="{% block ng_app %}{% endblock ng_app %}">
  <div class="container">
    {% block content %}{% endblock content %}
  </div>

  {% block javascript %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  {% endblock javascript %}
</body>
</html>
