<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">
  <title>{% block title %}Signage{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }
    .thumbnail-disabled {
      opacity: .5;
    }
  </style>
</head>
<body>
  <div class="container">
    {% include "signage/_header.html" %}
    {% block content %}{% endblock content %}
  </div>
</body>
</html>
