{% extends "signage/base.html" %}
{% load static from staticfiles %}

{% block ng_app %}signage{% endblock ng_app %}

{% block content %}
  {% verbatim %}
  <div class="slider" ng-controller="SignageController">
    <img bg-image class="slide animate" ng-repeat="slide in slides" ng-if="isCurrentSlide($index)" ng-src="{{ slide.image }}">
  </div>
  {% endverbatim %}
{% endblock content %}

{% block javascript %}
  <script src="{% static "js/angular-animate.min.js" %}"></script>
  <script src="{% static "js/angular-resource.min.js" %}"></script>
  <script src="{% static "js/TweenMax.min.js" %}"></script>
  <script src="{% static "js/signage.js" %}"></script>
{% endblock javascript %}
